dev/image/design_int/
dev/image/faq/
dev/image/index/
dev/image/nashi-partnery/
dev/image/projects/
dev/image/sketch/
dev/image/video/
dev/image/magazine/
dev/image/reports/
dev/image/photo_obj/
dev/image/prodazha_domov/
*.mp4
*.zip
archive/
dev/libs/
node_modules/
.sass-cache/
dploy.yaml