!image/teasers_video/
!image/design_int2/
!image/design_land/
!image/remont/
!image/photo_obj/
!image/reports/
!image/teasers_article/
!image/teasers_news/
!image/teasers_video/
!image/bloki/
!image/partners/
!image/opinions/
!image/pictures/
!image/prodazha_domov/
!image/team/
!image/price/
!image/prodazha_uchastkov/
!image/magazine/
!image/painting_int/
dev/image/
*.mp4
*.zip
archive/
dev/libs/
node_modules/
.sass-cache/
dploy.yaml