// Scaffolding
$font-family-base:'Roboto', sans-serif;
// Scaffolding

//COLORS

$yellow:#ffd400;

//COLORS

//Typography

//$font-size-h1:;
//$font-size-h2:;
//$font-size-h3:;
//$headings-font-family: 'PT Sans Narrow', sans-serif;
$headings-font-family:'Open Sans Condensed', sans-serif;
$headings-font-weight:  700;

//NAVBAR
$navbar-background:#fff;
$navbar-color:#000;
$nav-link-padding:25px;
//NAVBAR

//BREADCRUMBS
$breadcrumb-height:30px;
$breadcrumb-bg:#fff;
$border-radius-base:0;
$breadcrumb-color:#555;
$breadcrumb-padding-horizontal:15px;
//BREADCRUMBS