.shadow {
	z-index:-1;
  background-image: url("../img/shadow.png");
  background-position: left top;
  background-repeat: repeat-x;
  height: 159px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.footer_shadow {
	background: url("../img/footer_shadow.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	bottom: -351px;
	height: 351px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: -1
}
#setka {
	background: url("../img/setka.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#wrapper {height:100vh; width: 100%; position: absolute; top:0; left:0; z-index: -1;
	.fons {
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  -webkit-background-size: cover;
	  -ms-background-size: cover;
	  background-size: cover;
	  background-position: top center;
	  z-index: 0;
	  -webkit-transform: translate3d(0, 0, 0) scale(1);
	  -ms-transform: translate3d(0, 0, 0) scale(1);
	  transform: translate3d(0, 0, 0) scale(1);
	  -webkit-transition: opacity 300ms linear, -webkit-filter 200ms ease;
	  -moz-transition: opacity 300ms linear, -webkit-filter 200ms ease;
	  -ms-transition: opacity 300ms linear, -webkit-filter 200ms ease;
	  transition: opacity 300ms linear, -webkit-filter 200ms ease;
	  overflow:hidden;
	}
}
.homepage {
	min-height:100vh;
	.grey {background:none;color:#fff;height:30vh;}
	.nav-wrapper {
		background-color: transparent;
	}
	.header {
		background-color:transparent;
		&-logo {
			background-color:transparent;
		}
	}
	.adres-header {color:#fff;}
	.navbar {
		&-default {border: none;background-color: transparent;}
		&-header {background-color:transparent;}
		&-black{background-color:transparent;}
	}
	.dropdown-caret{border-bottom: none;}
	.header .navbar-nav > li > a {
		color: #aaa;
		&:hover, &:focus {color: #fff;}
	}
	.topright {
		color: #fff;
		background-color: transparent;
		&-button{
			color: #fff;
			&:hover, &:focus {color: #aaa;}
		}
	}
	.navbar-nav > li > a {
		color: #fff;
	}
	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
		background-color: transparent;
		color: #fff;
	}
	.navbar .nav > li > a > span {border-bottom: none;}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	  background-color: rgba(0,0,0,.2);
	  border-color: #337ab7;
	}
	.dropdown-menu {
		background-color: rgba(0,0,0,.7);
		> li > a {
			color: #ccc;
			&:focus, &:hover {
			  color: #fff;
			  background-color: rgba(0,0,0,.2);
			}
		}
	}
	.top-content {max-height:122px;}
	.phone {color:#fff;}
	.adres {color:#fff;}
	.back {background-color:transparent;}
	.article {margin-bottom:40px;
		p {line-height: 1.8em;}
		h1 {margin: 30px 0 30px 0;}
	}
	.navbar .nav > li > a {
		font-weight:700;
		color:#fff !important;
		padding:20px 25px 20px 25px;
	}
	.topmenu{
		&-item {
			color:#000;
			> span {
			  border-bottom: 1px #000 solid;
			}
		}
	}
}
header::after {
	content: " ";
	display: block;
	height: 13px;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index:1
}
#navbar {
	background-color: transparent; 
	z-index: 100;
	.in {background:rgba(0,0,0,0.8);}
}


.child{height:40vh;
	.jumbotron {padding:30px 0;}
}
.jumbotron {min-height: 25vh; max-width: 450px; background:none; padding:0; z-index: 100; margin-left:65px; line-height: 65px }
.jumbotron p {font-weight: 400; font-size: 50px; color:#FFF;font-family: 'PT Sans Narrow', sans-serif;z-index: 100}
.jumbotron p span {font-weight:bold; font-size:82px; color:#FFF;font-family: 'PT Sans Narrow', sans-serif;}

@media screen and (max-width: 992px) {
.jumbotron {min-height: 45vh; max-width: 100%;}
}

#icons {
	z-index: 1000;
	margin: auto;
	margin-bottom: 40px;
	a {opacity:0.7; text-decoration: none; color: #fff  !important; text-transform: uppercase;}
	.text {font-size: 16px; padding-top: 5px}
	.button {padding: 13px; white-space: nowrap; border: 2px solid #fff; border-radius: 30px 30px; color: #fff; font-size: 15px; visibility: hidden; display:none; }
	.action a{opacity:1;}
	.action .button{visibility: visible}

	a:hover, #icons a:focus {background: none}
	.button:hover {background-color:#779}
}
#mouse-scroll {
	bottom: 10px;
	left: 50%;
	margin: auto;
	position: absolute;
	z-index: 9999;
	span {
		border-bottom: 2px solid #dddddd;
		border-right: 2px solid #dddddd;
		display: block;
		height: 5px;
		margin: 0 0 3px 5px;
		transform: rotate(45deg);
		width: 5px;
	}
	.unu {margin-top: 6px;}
	.unu, .doi, .trei {animation: 1s ease 0s normal none infinite running mouse-scroll;}
	.unu {animation-delay: 0.1s;}
	.doi {animation-delay: 0.2s;}
	.trei {animation-delay: 0.3s;}
	.mouse {
		border: 2px solid #dddddd;
		border-radius: 10px;
		height: 21px;
		top: 170px;
		transform: none;
		width: 14px;
	}
	.wheel {
		background: #dddddd none repeat scroll 0 0;
		display: block;
		height: 5px;
		margin: 5px auto;
		position: relative;
		width: 2px;
	}
	.wheel {	animation: 1.2s ease 0s normal none infinite running mouse-wheel;}
}
@keyframes mouse-scroll {
0% {opacity: 0;}
50% {opacity: 0.5;}
100% {opacity: 1;}
}
@media screen and (max-width: 992px) {
.grey {height:60vh;}
}
@media screen and (max-width: 768px) {
.nav-justified>li {float: left;}
.grey {height:10vh;}
}