/* –¿«ÕŒ≈
*******************************************************************************/

#yainformer {
	width: 88px;
}

#yainformer img {
	margin-top: -8px;
	position: absolute;
}

.team h1.headline {
	clear: right;
	margin-top: 35px;
}

.team img {
	margin-left: 35px !important;
}


table.partners {
		width: 100%;
        border-collapse: collapse;
}

table.partners td {
	padding: 10px 0;
	text-align: center;
	border: 1px #ddd solid;
}

table.partners img {
	border: none;
}

.inner-drop a.active {
	color: #fff;
}

#sidebar .sub-nav a.active {
	text-decoration: none;
	font-family: 'goodcyr-blackregular', Arial, Helvetica, sans-serif;
}

h1.h1_small {
	font-size: 40px !important;
}

.ymap {
	width: 100%;
	height: 500px;
}

.hidden {
	visibility: hidden;
}

.slider .visual.active {
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter: alpha(opacity=30);
}

#content sup, #content sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	_vertical-align: bottom;
}

#content sup {
	bottom: 1ex;
}

#content sub {
	top: .5ex;
}

table.collapse {
        border-collapse: collapse;
}

table.collapse td {
	padding: 5px;
        border: 3px #ffd400 solid;
}

table.collapse td.img {
	border: none;
	padding: 0 25px 0 0;
}

table.collapse td.header {
	padding: 10px 5px;
	font-weight: bold;
	background: #fffdf2;
}

/* Œ“«€¬€
*******************************************************************************/

#opinions {
	width: 100%;
}

.opinions-l {
	width: 225px;
	height: 175px;
}

.opinions-l img {
	width: 200px;
	height: 150px;
	display: block;
}

.opinions-r div {
	background: url('/_template/img/raquo.png') right 50% no-repeat;
}

.opinions-r div p {
	padding: 0 40px 0 50px;
	background: url('/_template/img/laquo.png') top left no-repeat;
}

.opinions-r div p.author {
	left: -18px;
	font-size: 16px;
	background: none;
	position: relative;

	font-style: normal;
	font-family: 'grundfos_thesans_ot6sb_italic', Arial, Helvetica, sans-serif;
}

/* œŒƒ≈À»“‹—ﬂ
*******************************************************************************/

.yashare-auto-init {
	margin-left: -6px;
	padding: 2px 0 47px;
}

.b-share-icon {
    width: 30px !important;
    height: 30px !important;
    background: url(/_template/img/icons.png) no-repeat scroll 0px 0px transparent !important;
}
.b-share-icon_vkontakte  {
    background-position: 0 -47px !important;
}
.b-share-icon_vkontakte:hover  {
    background-position: 0 -80px !important;
}
.b-share-icon_odnoklassniki {
    background-position: -36px -47px !important;
}
.b-share-icon_odnoklassniki:hover {
    background-position: -36px -80px !important;
}
.b-share-icon_facebook  {
    background-position: -72px -47px !important;
}
.b-share-icon_facebook:hover  {
    background-position: -72px -80px !important;
}
.b-share-icon_lj {
    background-position: -107px -47px !important;
}
.b-share-icon_lj:hover {
    background-position: -107px -80px !important;
}
.b-share-icon_twitter {
    background-position: -143px -47px !important;
}
.b-share-icon_twitter:hover {
    background-position: -143px -80px !important;
}
